main {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    align-items: center;

    height: auto;
    display: flex;
    flex-direction: column;
    color: rgba(73, 81, 96, 1); 
    background-color: rgba(186, 198, 186, 1);   
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  header > span{
      display: flex;
      flex-direction: row; 
      align-content: center;
  }
  header > span > a {
      width: 45vw;
  }

  .spellList{
      width: 60%;
  }
  .--td-ontop{
      display: flex;
      align-self: flex-end;
  }
  section {
    width: 35%;
    overflow: scroll;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.3;
    display: flex;
    flex-direction: column;
    border: 5px;
    height: 70vh;
}

 .--box-desc {

    margin-top: 5%;
    width: 90%;   
}

.descSpell{
    justify-content: center;

    display: inline-block;
}

details {
    border: 1px solid;
    border-radius: 4px;
    padding: .5em, .5em 0;
}


tr {
    padding: 1rem;
}