body {
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(73, 81, 96, 1);
    color: rgba(186, 198, 186, 1);
    font-size: 1.3rem;
}

header {
    width: 100%;  
    min-height: 25vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(73, 81, 96, 1); 
    background-color: rgba(186, 198, 186, 1);   

  }

  header > span {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  header > h1 {
      padding: 0;
      margin:0;
      width: auto;
  }


main > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
  
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
}

.dark-grey{
    background-color: rgba(73, 81, 96, 1);
    color: rgba(186, 198, 186, 1);
    margin-bottom: 2rem;
}

.white-grey{
    background-color:  rgba(186, 198, 186, 1);
    color: rgba(73, 81, 96, 1);
    margin-bottom: 2rem;
}
  
.spellList{
    width: 50%;
}


.spellcaster{
    width: 40%;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border: 5px;
    height: 60vh;
}
.spellcaster > table > tr{
    border-collapse:separate; 
    border-spacing: 0 1em;
}
.spellcaster > table > tr > td{
    width: 10%;
}

input[type=search]{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
    background-color:rgba(73, 81, 96, 1);
    color:rgba(186, 198, 186, 1);
 }



section {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    overflow: scroll;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.3;
    display: flex;
    flex-direction: column;
    border: 5px;
    height: 60vh;
}

details {
    border: 1px solid;
    border-radius: 4px;
    padding: .5em, .5em 0;
}


.cargando {
    width: 75%;
    font-size: 5rem;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 10px 35px;
    justify-content: center;

}

.form-login h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.form-login > label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.form-login > input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(186, 198, 186, 1);
    border-radius: 3px;
    padding: 0 10px;
       margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.form-login > button{
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}